header {
  height: 728px;
  /* padding: 1.5rem 5rem; */
  padding: 12px 117px;
  display: flex;
  flex-direction: column;
  color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  gap: 58.97px;
}

.my-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */

  display: flex;
  width: 1212px;
  justify-content: space-between;
  align-items: center;
  /* margin: 0; */
  padding: 0 !important;
}

.toggle-menu {
  color: #ffffff;
  font-size: 1.8rem;
  display: none;
}

.my-navbar .list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  gap: 60px;
  margin: 0;
  padding-left: 0;
}

.my-navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.btn-header {
  border: none;
  background-color: #ffffff;
  border-radius: 30px;
  /* padding: 0.8rem 1.5rem; */
  font-weight: 700;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 144px;
  height: 50px;
  font-family: 'Inter sans-serif ' ;
}
.btn-header:hover {
  background-color: #eee;
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
    gap: 2rem;
    min-height: 100vh;
    height: 100%;
  }
  .my-navbar {
    width: 100%;
  }

  .my-navbar .list {
    flex-direction: column;
    position: absolute;
    top: 85px;
    right: -100%;
    gap: 20px;
    background: #333;
    padding: 50px;
    text-align: left;
    align-items: flex-start;
    border-radius: 3px;
    transition: right 0.5s ease-in-out;
  }
  .list.active {
    right: 0;
    width: 100%;
  }

  .toggle-menu {
    display: block;
  }
}

/* home section css */

.home-section {
  display: flex;
  color: #ffffff;
}

.title .line {
  margin-right: 11px;
}

.home-section strong {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}
.home-section p {
  font-size: 22px;
  font-weight: 400;
}
