main {
  margin: 0 !important;
  max-width: 100% !important;
}

.learn-more-btn {
  background-color: #1d2597 !important;
  color: #ffffff !important;
}

.service-section {
  min-height: 60vh;
}

.service-container,
.services-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.services-title span {
  color: #00097a;
}

.services-icons {
  width: 100%;
  justify-content: space-between;
}

.services-icons small {
  text-align: end;
}

.flags img {
  margin-top: -20%;
}
.second-flag img {
  margin-right: 100px;
}
.third-flag img {
  margin-right: 200px;
}
.fourth-flag img {
  margin-right: 300px;
}

/* our services sections */
.our-services {
  background-size: cover;
  /* margin: 0 auto; */
}

.our-services {
  /* padding: 3.3rem clamp(1rem, 7rem, 7rem); */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.servies-container strong {
  font-size: xx-large;
}

.services-types {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(343px, 1fr));
  gap: 3rem 2rem;
  margin-top: 20px;
}

.service-type-card {
  background-color: #d9d9d9;
  text-align: center;
  padding: 15px;
  border-radius: 11px;
  position: relative;
}

.service-type-card span {
  display: block;
  text-align: right;
}

.service-type-card p {
  color: #00000087;
}

.service-type-card div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 30px;
  text-align: justify;
  align-items: anchor-center;
}

.flag-s {
  position: absolute;
  left: 40px;
  top: -15px;
}
.flag-shadow {
  position: absolute;
  left: 138px;
  top: -15px;
}
.flag-icons {
  position: absolute;
  top: 3px;
  left: 60px;
}

/* business growth section */

.business-growth {
  background-image: url("../images/services/feature-bg.png");
  background-size: cover;
  color: #ffffff;
}

.growth-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

.business-growth-features {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  max-width: 239px;
  max-height: 221px;
  text-align: center;
  gap: 10px;

  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}

.feature p {
  text-align: justify;
  font-size: small;
}
.feature p a {
  text-decoration: none;
  color: #2563eb;
}

.feature:hover {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.feature:hover p {
  color: #00000087;
}
.feature:hover strong {
  color: #0f172a;
}
.feature:hover p a {
  color: #2c35a5;
}

.business-growth-heading {
  font-size: x-large;
}

.hover-icon {
  width: 32px;
  height: 31px;
  color: #ffffff;
}

.feature:hover small .hover-icon {
  color: #2c35a5;
}

/*  media queries  */

@media (max-width: 768px) {
  .our-services {
    /* padding:1.5rem 1rem; */
    align-items: center;
  }

  .business-growth-features {
    justify-content: center;
  }

  .service-section {
    flex-wrap: wrap;
  }

  .service-container,
  .services-icons {
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services-icons small img {
    margin: 0;
    padding: 0;
  }
}
