.homePage {
  position: relative;
  /* margin: 0 auto; */
}
main{
  margin: 1rem auto;
}

.line {
  width: 49px;
  height: 1px;
  background: #fff;
}
.home-content-box .title {
  display: flex;
  align-items: center;
  gap: 11px;
  width: 216px;
  height: 22px;
  flex-shrink: 0;
}

.home-section {
  justify-content: flex-start;
  align-items: start;
}

.home-section .home-content-box {
  display: flex;
  flex-direction: column;
  gap: 37px;
  max-width: 647px;
  color: #fff;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 22px;
  line-height: normal;
}

/* .title{
  display: flex;
} */

/* about section */

.about-section {
  display: flex;
}

.about-us {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 655.07px; */
  /* height: 412px; */
  position: relative;
}
.about-us small a {
  text-decoration: none;
  font-size: 22px;
}
.about-us ul {
  padding: 20px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-img img {
  width: 100%;
  height: 100%;
  width: 525px;
}

.about-us p {
  color: gray;
  font-size: 20px;
  margin-top: 10px;
}
.about-us h2 {
  font-size: 44px;
  font-weight: 700;
}

.shape-background img {
  width: 100%;
  height: 563px;
  width: 600px;
  position: absolute;
  /* margin-left: 250px;
  margin-top: 44px; */
  top: 60px;
  right: -14%;
}

.boxes {
  display: flex;
  gap: 15px;
  margin-left: -85px;
  margin-bottom: 20px;
}
.boxes .box {
  width: 144.238px;

  color: #ffffff;
  text-align: center;
  padding: 15px;
  border-radius: 18px;
}
.box span {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}
.box p {
  font-size: 11px;
  color: #ffffff;
  margin: 0;
}

.box h6 {
  margin: 0;
  font-size: 15px;
}

.box-1 {
  background-color: #282c4b;
}
.box-2 {
  background-color: #f94c30;
}
.box-3 {
  background-color: #242997;
}

/*  services section  */

.services-section {
  background-color: #eaf9ff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.services {
  display: flex;
}

.services-orverview {
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 24px;
}
.services-orverview p {
  color: #717488;

  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

}
.services-orverview h2 {
  color: #282C4B;

font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 53px; /* 147.222% */
letter-spacing: 0.72px;
}

.services p {
  color: #717488;
  font-size: 15px;
  line-height: 27px;
  text-align: justify;
}
.service:hover {
  background-color: #ffffff;
  border-radius: 17px;
}
.service {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  line-height: 25px;
  width: 251px;
}

.service img {
  width: 40px;
  height: 40px;
}
.arrow-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.arrow-box a {
  text-decoration: none;
  color: #2c35a5;
  font-size: large;
}
.arrow {
  margin-bottom: -60px;
  margin-right: -20%;
}

/* section headings and title */
.section-title {
  color: #242997;
  /* margin: 10px; */
  font-size: 22px;
}
.section-heading {
  font-size: xx-large;
  color: #282c4b;
}

/* review section */

.review {
  background-color: #593ffb08;
  text-align: center;
  color: #282c4b;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.review-slider {
  position: relative;
  overflow: hidden;
}

.review-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-text-box.active {
  display: flex;
}

.review-text-box {
  display: none;
  width: 45%;
  text-align: left;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation: fade 0.5s ease-in-out;
}
.review-text-box p {
  text-align: justify;
}

.slider-icon {
  display: flex;
  justify-content: center;
  /* margin: 20px; */
  gap: 2px;
  position: absolute;
  right: 50px;
  bottom: 120px;
  align-items: center;
}

.slider-icon a {
  text-decoration: none;
  font-size: x-large;
  color: #282c4b;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  padding: 14px 16px;
  /* background-color: #ffffff; */
}

.slider-icon a.active {
  background-color: #2b34a3;
  color: #ffffff;
}

@keyframes fade {
  from {
    opacity: 0;
    /* transform: translateX(0%); */
  }
  to {
    opacity: 1;
    /* transform: translateX(50%); */
  }
}

/* blog section css */

.blog {
  text-align: center;
  background-image: url("../images/XMLID_1124_.png");
  background-repeat: no-repeat;
  position: relative;
  top: -45px;
}

.blog h5 {
  margin-top: 18px;
}

.blog-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  /* flex-wrap: wrap; */
}
.blog-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: left;
  border-radius: 12px;
  position: relative;
}
.blog-card img {
  width: 100%;
}

.blog-card .blog-arrow {
  text-align: right;
  text-decoration: none;
}
.text-box-blog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.text-box-blog h5 {
  color: #717488;
}

.date {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: -29.8px;
}
.date span:first-child {
  background-color: #2047f4;
  color: #ffffff;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 3px 8px;
}

.date .day {
  padding: 8px;
}

/* our team section */

.our-team {
  text-align: center;
  background-color: #e2e2e25c;
  align-items: center;
}

@media (max-width: 768px) {
  .blog-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider-icon {
    position: static;
  }
  .review-content {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  /* about section */

  .about-section {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
.about-us {
     padding: 0;
}
  .about-img  {
    width: 100%;
  }
   .about-img img{
    width: 100%;
   }


  .boxes {
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .shape-background img {
    top: 6%;
    right: 0%;
  }
  .boxes .box {
    width: 120px;
    height: 120px;
  }
  .box span,
  .box strong,
  .box p {
    font-size: small;
    margin: 0;
  }

  /* service section */
  .services-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-orverview {
    align-items: anchor-center;
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .services {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .service {
    align-items: center;
  }

  .arrow {
    margin-right: 0;
  }
}

.carousel-dot {
  width: 14px;
  height: 14px;
  border: 2px solid #999;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 8px;
  transition: all 0.3s ease;
  padding: 0;
}

.carousel-dot.active,
.carousel-dot[aria-current="true"] {
  background-color: #000;
  border: 4px solid #ccc; /* Gives a double ring effect like a radio button */
}
